@media (max-width:480px) {
.row-with-2 div .one-second{width:50%!important;display:flex;clear:none}
.how_it_works .image{width:140px;height:140px;line-height:135px}
}
h1.title{line-height:29px!important}
i.fa.fa-graduation-cap{margin-top:6px;margin-right:9px;color:#da1e27;font-size:17px}